body{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#EEFDE2;
}

.grid{
	display:grid;
	grid-template-columns: auto auto auto ;
	grid-template-rows:auto auto auto auto;
	padding: 20px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.container{
	width:250px;
	height:250px;
	position:relative;
	overflow:hidden;
}

img{
	width:100%;
}

.caption{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	opacity:0;
	transition:all .5s;
	background:rgba(0 0 0 0);
}

.caption h1{
	text-transform:uppercase;
	margin:0;
}

.caption p{
	font-size:18px;
	text-transform:capitalize;
}

.container:hover .caption{
	opacity:1;
	background:rgba(0, 0, 0, 0.5);
}

.container:hover img{
	transform:scale(1.3) rotate(15deg);
}

.container1{
	width:250px;
	height:250px;
	position:relative;
	overflow:hidden;
}

.container1 img{
	width:100%;
	transition:all .5s;
}

.caption1{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	transition:all .5s;
	transform:translateX(-100%);
}

.caption1 .h1a{
	text-transform:uppercase;
	margin:0;
}

.caption1 .p-a{
	font-size:18px;
	text-transform:capitalize;
}

.container1:hover .caption1{
	background-color:rgba(0, 0, 0, 0.5);
	transform:translateX(0);
}

.container1:hover img{
	transform:scale(1.3) rotate(-15deg);
}


.container2{
	width:250px;
	height:250px;
	position:relative;
	overflow:hidden;
}

.container2 img{
	width:100%;
	transition:all .5s;
}

.caption2{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	transition:all .5s;
	background-color:black;
	transform:translateX(-100%);
}

.caption2 .h1b{
	text-transform:uppercase;
	margin:0;
}

.caption2 .p-b{
	font-size:18px;
	text-transform:capitalize;
}

.container2:hover .caption2{
	transform:translateX(0);
}

.container2:hover img{
	transform:translateX(100%);
}

.container3{
	width:250px;
	height:250px;
	position:relative;
	overflow:hidden;
}

.container3 img{
	width:100%;
	transition:all .5s;
}

.caption3{
	position:absolute;
	bottom:0;
	left:0;
	height:30%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	transition:all .5s;
	background-color:black;
	transform:translateY(100%);
}

.caption3 .h1c{
	text-transform:uppercase;
	margin:-10px;
	padding-top:20px;
	font-size:20px;
}

.caption3 .p-c{
	font-size:15px;
	text-transform:capitalize;
}

.container3:hover .caption3{
	transform:translateY(0);
}

.container3:hover img{
transform:translateY(-30%);
}

.container4{
	width:250px;
	height:250px;
	position:relative;
	overflow:hidden;
	color:white;
	border-radius:10px;
	overflow:hidden;
}

.container4 img{
	width:100%;
	transition:all .5s;
}

.caption4{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	transition:all .5s;
	transform:translateY(-20px);
	opacity:0;
	transition:all .25s;
}

.caption4 .h3,.caption4 .h5{
	margin:0;
	letter-spacing:1px;
}

.caption4 .h3{
	text-transform: uppercase;
	font-weight:400;
	margin-bottom:5px;
}

.caption4 .h5{
	background-color:#B19B73;
	padding:3px 5px;
}

.container4:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#D56D2D;
	opacity:.3;
	transform:translateY(100%);
	transition:all .25s;
	transition-delay:.25s;
}


.container4:hover:before{
	transform:translateY(0);
	transition-delay:0s;
}
.container4:hover .caption4{
	opacity:1;
	transform:translateY(0);
	transition-delay:.3s;
}
