body{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	height:100vh;
	display:flex;
	justify-content: center;
	align-items:center;
}

.ghost{
	position:relative;
	width:120px;
	height:150px;
	animation:float 3s linear infinite;
	z-index:8;
}


	@keyframes float {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }    

}

.torso{
	position:absolute;
	width:100%;
	height:100%;
	background-color:white;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:25%;
	border-bottom-right-radius:20%;
}

.shadow1{
	position:absolute;
	width: 0;
  height: 0;
 	border: solid transparent;
  border-width: 3px 0 1px 55px;
  border-left-color: #EFEBEB;
  transform: rotate(-92deg);
	overflow:hidden;
	left:50%;
	top:80%;
}

.shadow2{
	position:absolute;
	width: 0;
  height: 0;
 	border: solid transparent;
  border-width: 3px 0 1px 85px;
  border-left-color: #EFEBEB;
  transform: rotate(-92deg);
	overflow:hidden;
	z-index:1;
	left:17%;
	top:70%;
}

.shadow3{
	position:absolute;
	width: 0;
  height: 0;
 	border: solid transparent;
  border-width: 3px 0 1px 55px;
  border-left-color: #EFEBEB;
  transform: rotate(-92deg);
	overflow:hidden;
	z-index:1;
	left:10%;
	top:80%;
}


.head{
	position:absolute;
	width:100%;
	height:100%;
	background-color:white;
	border-radius:50%;
	top:-50px;
	z-index:1;
}

.left-eye{
	width:10px;
	height:12px;
	position:absolute;
	background-color:black;
	border-radius:50%;
	top:60px;
	left:25px;
}

.right-eye{
	width:10px;
	height:12px;
	position:absolute;
	background-color:black;
	border-radius:50%;
	top:60px;
	right:25px;
}

.eye{
	animation: blink 4s infinite;
	transform-origin:bottom;
}

@keyframes blink {
  0% { height: 12px; }
	49% { height: 12px; }
	50% { height: 0; }
	51% { height: 0; }
	52% {	height:12px;}
  100% { height: 12px; }
}

.mouth{
	width:8px;
	height:12px;
	position:absolute;
	background-color:black;
	border-radius:50%;
	left:50%;
	top:55%;
	transform:translate(-50%);
	animation:wide 4s infinite;
}
@keyframes wide{
	50%{height:10%;
	}
}

.blush{
	position:absolute;
	width:12px;
	height:7px;
	background-color:pink;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	top:55%;
	left:25px;
}

.blush:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	box-shadow:60px 0 pink;
}

.left-arm{
	position:absolute;
	background:white;
	width:20%;
	height:20%;
	left:-12%;
	top:25%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-top-left-radius:30%;
	transform: rotate(35deg);
	animation:wave 3s linear infinite;
}

.right-arm{
	position:absolute;
	background:white;
	width:20%;
	height:20%;
	right:-12%;
	top:25%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-top-left-radius:30%;
	transform:rotate(-40deg) scaleX(-1);
	animation:wave2 3s linear infinite;
}

@keyframes wave{
	50%{
			transform: rotate(100deg);
	}
}
@keyframes wave2{
	50%{
			transform: rotate(-90deg) scalex(-1);
	}
}

.shadow{
	position:absolute;
	width:120px;
	height:30px;
	border-radius:50%;
	background: #29323C;
	opacity:.7;
	bottom:25%;
	animation:shrink 3s linear infinite;
	-webkit-animation:shrink 3s  linear infinite;
	-moz-animation:shrink 3s  linear infinite;
	-ms-animation:shrink 3s  linear infinite;
	-o-animation:shrink 3s  linear infinite;

}

@-moz-keyframes shrink{
	0%{opacity:.7;}
	30%{opacity:.7;}
	40%{opacity:.8;}
	50%{opacity:.9;}
	60%{ opacity:1;}
	70%{opacity:1;}
}

@keyframes shrink{
	0%{opacity:.7;}
	30%{opacity:.7;}
	40%{opacity:.8;}
	50%{opacity:.9;}
	60%{ opacity:1;}
	70%{opacity:1;}
	100%{opacity:.7;}
}